.header {
  width: 100%;
  background-color: $black;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 0 0 auto;

  &__links  {    
    ul {
      display: flex;
      align-items: center;
    }
  }

  &__link {
    color: $white;

    & + & {
      margin-left: 35px;
    }
  }

  &__search {
    width: 245px;
    background-color: $white;
    border-radius: 25px;
    height: 35px;
  }
}